<!DOCTYPE html>

<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

        <script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script crossorigin="anonymous integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <style>

            div.container {
                text-align: center;
            }

            div.container .form-control {
                display: inline-block;
                margin-left: .5rem;
                margin-right: .5rem;
                width: auto;
            }

        </style>

        <title>CS50 ID</title>

    </head>
    <body>
        <div class="container p-3">
            <p>
                <img alt="OpenID logo" class="img-fluid" src="https://openid.net/images/logo/openid-icon-100x100.png">
            </p>
            <p>
                This is CS50's authentication service.
            </p>
            <form action="" class="form-inline justify-content-center" method="get">
                Log in via
                <select class="form-control">
                    <option value="edX">edX</option>
                    <option value="Harvard">Harvard</option>
                    <option value="Yale">Yale</option>
                </select>
                <button autofocus class="btn btn-secondary" type="submit">Go</button>
            </form>
        </div>
    </body>
</html>

